<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>sample.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>sample.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUserController</servlet-name>
        <servlet-class>sample.controllers.LoginUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuildingController</servlet-name>
        <servlet-class>sample.controllers.BuildingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>sample.controllers.RoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>sample.controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpUserController</servlet-name>
        <servlet-class>sample.controllers.SignUpUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUserController</servlet-name>
        <url-pattern>/LoginUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuildingController</servlet-name>
        <url-pattern>/BuildingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/RoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpUserController</servlet-name>
        <url-pattern>/SignUpUserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
</web-app>
